.container {
  background-color: #333;
  margin-top: 30px;
  width: 90%;
}

h1 {
  color: white;
  text-align: center;
}

.addBtn {
  margin-bottom: 20px;
  margin-top: 20px;
}








































































































/* ::ng-deep .p-paginator{
  background-color: transparent;
}

::ng-deep .p-paginator .p-paginator-pages .p-paginator-page.p-highlight, ::ng-deep .p-paginator .p-paginator-pages .p-paginator-page:not(.p-highlight):hover{
  background-color: transparent;
  border: 1px solid white;
}

::ng-deep .p-paginator .p-paginator-pages .p-paginator-page {
  color: white;
} */



