<div class="container mt-5">
  <h1>Shipping Details</h1>

  <div class="table row">
    <router-outlet></router-outlet>
    <button routerLink="/details" class="btn btn-light col-auto ml-auto addBtn">Add Details +</button>


    <table class="table table-dark text-center">
      <thead>
        <tr>
          <th>#uuid</th>
          <th>Product Name</th>
          <th>Dispatch Time</th>
          <th>Dispatch Date</th>
          <th>Quantity</th>
          <th class="w-25">Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let detail of shippingDetails; let index = index">
          <th>{{detail.uuid}}</th>
          <td>{{detail.product_name}}</td>
          <td>{{detail.dispatch_time | time }}</td>
          <td>{{detail.dispatch_date | date: 'dd/MM/yyyy'}}</td>
          <td>{{detail.quantity | number }}</td>
          <td>
            <button class="btn btn-dark mb-2"><i class="fas fa-edit" routerLink="/details"
                (click)="editBtn(detail.uuid)"></i></button>

            <p-toast position="center" key="confirm" (onClose)="onReject()" [baseZIndex]="5000">
              <ng-template let-message pTemplate="message">

                <div class="flex flex-column ml-4" style="flex: 1">
                  <div class="text-center">
                    <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                    <h4>{{message.summary}}</h4>
                    <p>{{message.detail}}</p>
                  </div>
                  <div class="row p-fluid">
                    <div class="col-6">
                      <button type="button" pButton (click)="onConfirm(detail.uuid)" label="Yes"
                        class="p-button-success"></button>
                    </div>
                    <div class="col-6">
                      <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary"></button>
                    </div>
                  </div>
                </div>
              </ng-template>
            </p-toast>
            
            <button pButton pRipple class="btn btn-dark mb-2" (click)="showToast(detail.uuid)"><i
                class="fas fa-trash"></i></button>

          </td>
        </tr>
      </tbody>
    </table>
    
  </div>
  <hr>
  <div class="flex align-items-center justify-content-end">
    <p-paginator bg-transparent (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="totalCountOfDetails" [rowsPerPageOptions]="[5, 10, 20, 30]"></p-paginator>
  </div>
  

</div>