<div class="container mt-5">

  <div *ngIf="isEditClicked==false"><h2>Add Shipping Details</h2></div>
  <div *ngIf="isEditClicked==true"><h2>Edit Shipping Details</h2></div>
  
  <div class="container-form">
    
    <form [formGroup]="addDetailsForm">
      
      <div class="row mb-3">
        <label for="uuid" class="col-sm-6 col-form-label">UUID</label>
        <div class="col-sm-6">
          <input type="text" pInputText formControlName="uuid" [disabled]="true"/>
        </div>
      </div>

      <div class="row mb-3">
        <label for="product-name" class="col-sm-6 col-form-label">Product Name <span class="required-pipe">{{'' | required }}</span> </label>
        <div class="col-sm-6 ">
          <input type="text" pInputText formControlName="productName" placeholder="Enter Product Name" [ngClass]="{'err-msg':shippingDetailsFormControl.productName.errors?.required && isFormInvalid}"/>
          <div class="alert alert-danger" *ngIf="shippingDetailsFormControl.productName.errors?.required && isFormInvalid">Product Name is a required field!</div>
        </div>
        
      </div>

      <div class="row mb-3">
        <label for="dispatch_time" class="col-sm-6 col-form-label">Dispatch Time  <span class="required-pipe">{{'' | required }}</span> </label>
        <div class="col-sm-6">
          <p-calendar formControlName = "dispatchTime"  [timeOnly]="true" placeholder="Pick Dispatch Time"></p-calendar>
          <div class="alert alert-danger" *ngIf="shippingDetailsFormControl.dispatchTime.errors?.required && isFormInvalid">Dispatch Time is a required field!</div>
        </div>
      </div>

      <div class="row mb-3">
        <label for="dispatch_date" class="col-sm-6 col-form-label">Dispatch Date  <span class="required-pipe">{{'' | required }}</span> </label>
        <div class="col-sm-6">
          <p-calendar formControlName="dispatchDate" placeholder="Pick Dispatch Date"></p-calendar>
          <div class="alert alert-danger" *ngIf="shippingDetailsFormControl.dispatchDate.errors?.required && isFormInvalid">Dispatch Date is a required field!</div>
        </div>
      </div>

      <div class="row mb-3">
        <label for="quantity" class="col-sm-6 col-form-label">Quantity</label>
        <div class="col-sm-6">
          <p-inputNumber inputId="integeronly" formControlName="quantity" placeholder="Enter Quantity"></p-inputNumber>
        </div>
      </div>

      <div class="row mb-3 buttons">
        <p-toast></p-toast>
        <!-- <button type="button" pButton pRipple (click)="showSuccessToast()" label="Show" class="p-button-success"></button> -->
        <p-button label="Save" styleClass="p-button-raised p-button-success" class="saveBtn" (click)="saveDetails()"></p-button>
        <p-button label="Cancel" styleClass="p-button-raised p-button-secondary" routerLink="/" (click)="cancelBtn()"></p-button>
      </div>
      
    </form>
  </div>
</div>
